// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-wrapper {
	text-align: center;
	margin-bottom: 5vh;
	img {
		max-width: 35vw;
		border: 7px solid #faad7c;
	}
}

.song-title {
		// color: #faad7c;
}

.play-button, .pause-button {
	height: 3vw;
	width: 3vw;
	margin-right: 2vw;
	border-radius: 100%;
}

.play-button:focus, .pause-button:focus {outline:0;}

.song-li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4vh;
}

.audio-controls-wrapper {
	display: flex;
	width: 70%;
	flex-direction: row;
	justify-content:flex-start;
	align-items: center;
}

.playlist-li {
	display: flex;
	margin-bottom: 3vh;
}
// progress {
// 	display: inline;
// }
// .progress-bar{
// 	background-color: white;
// }

.progress-bar[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
	 background: none;
  // width: 20vw;
  // height: 4vh;
}

.progress-bar[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar[value]::-webkit-progress-value {
	background-image:
		-webkit-linear-gradient(-45deg,
														transparent 33%, rgba(0, 0, 0, .1) 33%,
														rgba(0,0, 0, .1) 66%, transparent 66%),
		-webkit-linear-gradient(top,
														rgba(255, 255, 255, .25),
														rgba(0, 0, 0, .25)),
		-webkit-linear-gradient(left, #09c, #f44);

	 border-radius: 5px;
	 // background-size: 35px 20px, 100% 100%, 100% 100%;
}
