// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.iframe-wrapper {
	text-align: center;
	.google-map {
		width: 50vw;
		height: 40vh;
	}
}