	<ul>
		<% @user.playlists.each do |playlist| %>
			<h3><%= link_to playlist.title, playlist %></h3>
			<% playlist.songs.each do |song| %>
				<li><%= song.title %></li>
			<% end %>
		<% end %>
	</ul>
