
		<% @artists.each do |artist| %>
			<h3>Artist Name: <%= link_to artist.name, artist %></h3>
			<p>Biography: <%= artist.bio %></p>
			<br>
		<% end %>


	<%= button_to "Log Out", '/logout', id: "logout" %>

