



<div class="home-wrapper">
  <div class="card-columns">
	<% @artists.each do |artist| %>
		<div class="card">
		  <%= link_to image_tag(artist.img_url), artist %>
		  <div class="card-body"></div>
		  <h5 class="card-title"><%= link_to artist.name, artist %></h5>
		  <!-- <p class="card-text">Biography: <%# artist.bio %></p> -->
		</div>
	<% end %>
  </div>
</div>
